@media screen and (min-width: 769px) {
    @font-face {
        font-family: ProximaNova;
        font-weight: 700;
        src: url("fonts/700.woff2") format("woff2"), url("fonts/700.woff") format("woff"),
            url("fonts/700.ttf") format("truetype");
    }
    @font-face {
        font-family: ProximaNova;
        font-weight: 600;
        src: url("fonts/600.woff2") format("woff2"), url("fonts/600.woff") format("woff"),
            url("fonts/600.ttf") format("truetype");
    }
    @font-face {
        font-family: ProximaNova;
        font-weight: 500;
        src: url("fonts/500.woff2") format("woff2"), url("fonts/500.woff") format("woff"),
            url("fonts/500.ttf") format("truetype");
    }
    @font-face {
        font-family: ProximaNova;
        font-weight: 400;
        src: url("fonts/400.woff2") format("woff2"), url("fonts/400.woff") format("woff"),
            url("fonts/400.ttf") format("truetype");
    }
    @font-face {
        font-family: ProximaNova;
        font-weight: 300;
        src: url("fonts/300.woff2") format("woff2"), url("fonts/300.woff") format("woff"),
            url("fonts/300.ttf") format("truetype");
    }
    @font-face {
        font-family: ProximaNovaBold;
        src: url("fonts/bold.eot");
        src: url("fonts/bold.eot?#iefix") format("embedded-opentype"), url("fonts/bold.woff2") format("woff2"),
            url("fonts/bold.woff") format("woff"), url("fonts/bold.ttf") format("truetype");
    }
    @font-face {
        font-family: AsapCondensedSemiBold;
        src: url("fonts/AsapCondensed-SemiBold.eot");
        src: url("fonts/AsapCondensed-SemiBold.eot?#iefix") format("embedded-opentype"),
            url("fonts/AsapCondensed-SemiBold.woff") format("woff"), url("fonts/AsapCondensed-SemiBold.ttf") format("truetype"),
            url("fonts/AsapCondensed-SemiBold.svg#AsapCondensedSemiBold") format("svg");
        font-style: normal;
        font-weight: 400;
    }
    @font-face {
        font-family: ProximaNovaCondensedBold;
        src: url("fonts/ProximaNovaCond-Bold.eot");
        src: url("fonts/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNovaCond-Bold.woff2") format("woff2"),
            url("fonts/ProximaNovaCond-Bold.woff") format("woff"), url("fonts/ProximaNovaCond-Bold.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: ProximaNovaBlack;
        src: url("fonts/ProximaNovaBlack.woff2") format("woff2"), url("fonts/ProximaNovaBlack.woff") format("woff"),
            url("fonts/ProximaNovaBlack.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: ProximaNovaCondensedBlack;
        src: url("fonts/ProximaNovaCond-Black.woff2") format("woff2"), url("fonts/ProximaNovaCond-Black.woff") format("woff"),
            url("fonts/ProximaNovaCond-Black.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: ProximaNovaCondensedRegular;
        src: url("fonts/ProximaNovaCondensedRegular.woff2") format("woff2"),
            url("fonts/ProximaNovaCondensedRegular.woff") format("woff"),
            url("fonts/ProximaNovaCondensedRegular.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: ProximaNovaExtraBold;
        src: url("fonts/ProximaNovaBlack.woff2") format("woff2"), url("fonts/ProximaNovaBlack.woff") format("woff"),
            url("fonts/ProximaNovaExtraBold.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: ProximaNovaLight;
        src: url("fonts/ProximaNovaLight.woff2") format("woff2"), url("fonts/ProximaNovaLight.woff") format("woff"),
            url("fonts/ProximaNovaLight.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: ProximaNovaSemiBold;
        src: url("fonts/ProximaNovaSemiBold.woff2") format("woff2"), url("fonts/ProximaNovaSemiBold.woff") format("woff"),
            url("fonts/ProximaNovaSemiBold.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: ProximaNovaCondensedExtraBold;
        src: url("fonts/ProximaNovaCond-Extrabld.woff2") format("woff2"), url("fonts/ProximaNovaCond-Extrabld.woff") format("woff"),
            url("fonts/ProximaNovaCond-Extrabld.ttf") format("truetype");
        font-style: normal;
    }
    .fonts-loaded {
        font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
        letter-spacing: 0;
    }
    @font-face {
        font-family: icomoon;
        src: url(fonts/icomoon.c06052.eot);
        src: url(fonts/icomoon.c06052.eot#iefix) format("embedded-opentype"),
            url(fonts/icomoon.133be6.ttf) format("truetype"),
            url(fonts/icomoon.7a1462.woff) format("woff"),
            url(fonts/icomoon.8554c7.svg#icomoon) format("svg");
        font-weight: 400;
        font-style: normal;
    }
    [class*=" icon-"],
    [class^="icon-"] {
        font-family: icomoon;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-meat:before {
        content: "\E91F";
    }
    .icon-leaf:before {
        content: "\E920";
    }
    .icon-downArrow:before {
        content: "\E923";
    }
    .icon-back:before {
        content: "\E924";
    }
    .icon-cartInverse:before {
        content: "\E925";
    }
    .icon-close:before {
        content: "\E927";
    }
    .icon-downArrow2:before {
        content: "\E928";
    }
    .icon-downArrowSmall:before {
        content: "\E929";
    }
    .icon-explore:before {
        content: "\E910";
    }
    .icon-heart:before {
        content: "\E92A";
    }
    .icon-heartInverse:before {
        content: "\E92B";
    }
    .icon-filter:before {
        content: "\E92C";
    }
    .icon-home:before {
        content: "\E92D";
    }
    .icon-info:before {
        content: "\E92E";
    }
    .icon-menu:before {
        content: "\E931";
    }
    .icon-rightArrow:before {
        content: "\E932";
    }
    .icon-orderConfirmed:before {
        content: "\E915";
    }
    .icon-orderReceived:before {
        content: "\E917";
    }
    .icon-order-confirmed-inverse:before {
        content: "\E934";
    }
    .icon-order-received-inverse:before {
        content: "\E92F";
    }
    .icon-orderPickedup:before {
        content: "\E918";
    }
    .icon-star:before {
        content: "\E938";
    }
    .icon-recent:before {
        content: "\E939";
    }
    .icon-magnifier:before {
        content: "\E910";
    }
    .icon-starInverse:before {
        content: "\E93C";
    }
    .icon-swgy:before {
        content: "\E93F";
    }
    .icon-swgyInverse:before {
        content: "\E940";
    }
    .icon-tickSharp:before {
        content: "\E941";
    }
    .icon-tickRound:before {
        content: "\E942";
    }
    .icon-foodSymbol:before {
        content: "\E944";
    }
    .icon-Veg:before {
        content: "\E997";
    }
    .icon-NonVeg:before {
        content: "\E998";
    }
    .icon-verified:before {
        content: "\E945";
    }
    .icon-work:before {
        content: "\E946";
    }
    .icon-offer-filled:before,
    .icon-offer:before {
        content: "\E921";
    }
    .icon-orderCancel:before {
        content: "\E947";
    }
    .icon-orderDelivered:before {
        content: "\E916";
    }
    .icon-delete:before {
        content: "\E949";
    }
    .icon-homeDark:before {
        content: "\E94A";
    }
    .icon-markerDark:before {
        content: "\E94B";
    }
    .icon-workDark:before {
        content: "\E94C";
    }
    .icon-close-thin:before {
        content: "\E913";
    }
    .icon-location:before {
        content: "\E911";
    }
    .icon-location-crosshair:before {
        content: "\E914";
    }
    .icon-alert:before {
        content: "\E956";
    }
    .icon-netbanking:before {
        content: "\E907";
    }
    .icon-paybycash:before {
        content: "\E908";
    }
    .icon-preferred:before {
        content: "\E909";
    }
    .icon-saved-card:before {
        content: "\E90A";
    }
    .icon-wallet-filled:before {
        content: "\E90B";
    }
    .icon-wallet-checkout:before {
        content: "\E90C";
    }
    .icon-marker-checkout:before {
        content: "\E90D";
    }
    .icon-user-checkout:before {
        content: "\E90E";
    }
    .icon-payments:before {
        content: "\E912";
    }
    .icon-orders:before {
        content: "\E919";
    }
    .icon-manage-addresses:before {
        content: "\E91D";
    }
    .icon-favourites:before {
        content: "\E91E";
    }
    .icon-overdue:before {
        content: "\E906";
    }
    .icon-add-new-card:before {
        content: "\E905";
    }
    .icon-offers-coupon:before {
        content: "\E948";
    }
    .icon-paylater:before {
        content: "\E950";
    }
    .icon-super-outline:before {
        content: "\E951";
    }
    .icon-super-filled:before {
        content: "\E952";
    }
    .icon-super-account:before {
        content: "\E953";
    }
    .icon-multi-offer:before {
        content: "\E904";
    }
    .icon-chat:before {
        content: "\E954";
    }
    .icon-upi:before {
        content: "\E902";
    }
    .icon-check-round:before {
        content: "\E903";
    }
    .icon-feedback:before {
        content: "\E901";
    }
    .icon-quotes-rounded:before {
        content: "\E900";
    }
    .icon-down-bold:before {
        content: "\E957";
    }
    .icon-swiggy-payment:before {
        content: "\E958";
    }
    .icon-spice-icon:before {
        content: "\E959";
    }
    .icon-settings:before {
        content: "\E95A";
    }
    .icon-Veg-4:before {
        content: "\E973";
    }
    .icon-Non-Veg-4:before {
        content: "\E972";
    }
    .icon-Search_close:before {
        content: "\E95B";
    }
      * { 
          margin: 0; 
          padding: 0; 
          box-sizing: inherit; 
          -webkit-text-size-adjust: none; 
          -webkit-tap-highlight-color: transparent; 
          -ms-text-size-adjust: none; 
          outline: none;
      } 
      
      ._1MdYR { 
          margin-top:  -80px;
          position: relative;
      } 
      
      .nDVxx { 
          -ms-flex-positive: 1; 
          flex-grow: 1;
      } 
      
      ._3arMG { 
          position: relative; 
          padding-top: 80px; 
          min-height: 100%; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          min-width: 1240px;
      } 
      
      body { 
          margin:  0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      html { 
          line-height:   1.2; 
          -ms-text-size-adjust:   100%; 
          -webkit-text-size-adjust:   100%;
          box-sizing:  border-box; 
          font-family:  arial,Helvetica Neue,sans-serif; 
          font-size:  14px; 
          letter-spacing:  -.5px; 
          -moz-font-smoothing:  antialiased; 
          -webkit-font-smoothing:  antialiased;
          margin: 0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      .fonts-loaded { 
          font-family: ProximaNova,arial,Helvetica Neue,sans-serif; 
          letter-spacing: 0;
      } 
      
      ._1TWur { 
          position: relative;
      } 
      
      *,:after,:before { 
          margin: 0; 
          padding: 0; 
          box-sizing: inherit; 
          -webkit-text-size-adjust: none; 
          -webkit-tap-highlight-color: transparent; 
          -ms-text-size-adjust: none; 
          outline: none;
      } 
      
      ._2COmU { 
          position:  relative;
          max-width: 1200px; 
          min-width: 1200px; 
          margin: 0 auto; 
          height: 540px;
      } 
      
      ._2h2bu { 
          position: absolute; 
          left: calc(50% + 80px); 
          right: 0; 
          background-repeat: no-repeat; 
          height: 100%; 
          background-size: cover; 
          background-position: 100%; 
          top: 0; 
          background-color: hsla(26,5%,70%,.2); 
          background-repeat-x: no-repeat; 
          background-repeat-y: no-repeat;
      } 
      
      .m3-34 { 
          width: 680px; 
          padding-right: 60px;
      } 
      
      ._2TYHu { 
          padding-top: 40px; 
          position: relative;
      } 
      
      h1 { 
          font-size: 2em; 
          margin: .67em 0;
      } 
      
      .sZsUd { 
          margin-top: 140px; 
          margin-bottom: 0; 
          font-size: 40px; 
          font-weight: 600; 
          letter-spacing: -.45px;
      } 
      
      ._1E3AJ { 
          font-size: 24px; 
          font-weight: 300; 
          width: 600px; 
          margin-top: 0; 
          margin-bottom: 0; 
          line-height: 40px; 
          letter-spacing: -.3px; 
          color: #686b78;
      } 
      
      ._3mZgT { 
          display: -ms-flexbox; 
          display: flex; 
          position: relative; 
          margin-top: 35px;
      } 
      
      ._1nQLS { 
          font-weight: 400; 
          font-size: 15px; 
          color: #a9abb2; 
          margin: 30px 0 10px; 
          letter-spacing: -.2px; 
          text-transform: uppercase;
      } 
      
      ul { 
          margin: 0; 
          padding: 0; 
          list-style-type: none;
      } 
      
      ._3TE0x { 
          width: 570px; 
          list-style: none; 
          margin: 0; 
          padding: 0;
      } 
      
      ._1envo { 
          height: 125px; 
          width: 200px; 
          transition: transform .3s cubic-bezier(.23,1,.32,1) 0ms; 
          position: absolute; 
          left: 0; 
          top: 0; 
          opacity: 1; 
          fill: #fc8019; 
          margin-top: 92px; 
          -ms-transform: scale(1.5); 
          transform: scale(1.5);
      } 
      
      svg:not(:root) { 
          overflow: hidden;
      } 
      
      ._2fX4J { 
          float: right; 
          display: -ms-flexbox; 
          display: flex; 
          margin-top: 28px;
      } 
      
      .Al5GE { 
          position: relative; 
          -ms-flex: 1; 
          flex: 1;
      } 
      
      a { 
          background-color:  transparent; 
          -webkit-text-decoration-skip:  objects;
          text-decoration: none;
      } 
      
      ._3iFC5 { 
          display: inline-block; 
          position:  absolute; 
          z-index:  1;
          width: 140px; 
          text-decoration: none; 
          cursor: pointer; 
          text-align: center; 
          border: none; 
          line-height: 60px; 
          font-size: 16px; 
          font-weight: 700; 
          height: 60px; 
          padding: 0; 
          color: #fff; 
          letter-spacing: .53px; 
          background-color: #fc8019; 
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.12); 
          right: 0;
      } 
      
      a,a:hover { 
          text-decoration: none;
      } 
      
      ._3iFC5:hover { 
          position:  absolute!important;
          box-shadow:  none; 
          -ms-transform: none!important; 
          transform: none!important; 
      } 
      
      ._3iFC5:hover:after { 
          content: ""; 
          bottom: -1px; 
          left: 0; 
          position: absolute; 
          width: 100%; 
          height: 1px;
      } 
      
      ._1jdR4 { 
          display: inline-block; 
          padding: 0;
      } 
      
      .x4bK8 { 
          width: auto; 
          text-decoration: none; 
          cursor: pointer; 
          display: inline-block; 
          text-align: center; 
          border: none; 
          line-height: 40px; 
          font-size: 16px; 
          height: 40px; 
          padding: 0 2rem; 
          color: #000; 
          letter-spacing: 0; 
          font-weight: 600;
      } 
      
      .x4bK8:hover { 
          color: #fc8019;
      } 
      
      .r2iyh { 
          width: auto; 
          text-decoration: none; 
          cursor: pointer; 
          display: inline-block; 
          text-align: center; 
          border: none; 
          line-height: 40px; 
          font-size: 16px; 
          height: 40px; 
          padding: 0 2rem; 
          color: #fff; 
          letter-spacing: 0; 
          background-color: #000; 
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.12); 
          font-weight: 600;
      } 
      
      .r2iyh:hover { 
          position: relative; 
          box-shadow: 0 2px 8px #d4d5d9;
      } 
      
      .r2iyh:hover:after { 
          content: ""; 
          bottom: -1px; 
          left: 0; 
          position: absolute; 
          width: 100%; 
          height: 1px;
      } 
      
      ._3Um38 { 
          border: 1px solid #d4d5d9; 
          padding: 0; 
          display: block; 
          position: relative; 
          transform: translateZ(0);
      } 
      
      ._2oQ4_ { 
          padding: 0 5px; 
          border: 1px solid #bebfc5; 
          box-shadow: none;
      } 
      
      button { 
          font-family:      sans-serif; 
          font-size:      100%; 
          line-height:      1.15; 
          margin:   0; 
          overflow:     visible;
          text-transform:    none;
          -webkit-appearance:   none; 
          color:  inherit; 
          font:  inherit; 
          -moz-appearance:  none; 
          appearance:  none;
          padding: 0; 
          background: transparent; 
          border: none; 
          cursor: pointer; 
          outline: none; 
          text-align: left;
      } 
      
      ._1fiQt { 
          position:  absolute; 
          right:  150px; 
          top:  10px; 
          padding:  12px 10px; 
          font-weight:  500; 
          font-size:  14px; 
          cursor:  pointer; 
          letter-spacing:  -.35px;
          color: #535665;
      } 
      
      ._1fiQt:hover { 
          background: #e9e9eb;
      } 
      
      ._3zoZ8 { 
          font-weight: 600; 
          font-size: 16px; 
          margin-right: 8px; 
          color: #686b78; 
          line-height: 1.5; 
          letter-spacing: -.3px;
      } 
      
      ._1jdR4:nth-child(2n) ._3zoZ8  { 
          color: #93959f;
      } 
      
      a,a:visited { 
          text-decoration: none;
      } 
      
      a,a:hover,a:visited { 
          text-decoration: none;
      } 
      
      input { 
          font-family:    sans-serif; 
          font-size:    100%; 
          line-height:   normal;
          margin:  0; 
          overflow:   visible;
          color: inherit; 
          font: inherit; 
          -webkit-appearance: none; 
          -moz-appearance: none; 
          appearance: none;
      } 
      
      ._381fS { 
          background-color: transparent; 
          line-height: normal; 
          border: none; 
          outline: none; 
          height: 70px; 
          width: 100%; 
          font-size: 17px; 
          margin: 0; 
          padding: 0 20px; 
          padding-top: 22px; 
          box-shadow: none; 
          box-sizing: border-box; 
          border-radius: 0; 
          white-space: nowrap; 
          overflow: hidden; 
          text-overflow: ellipsis; 
          font-weight: 500;
      } 
      
      ._1oTLG { 
          height: 50px; 
          padding-top: 0; 
          font-size: 1.15rem;
      } 
      
      ._3BIgv { 
          height: 58px!important; 
          line-height: 28px!important; 
          padding-top: 0!important; 
          padding-left: 15px!important; 
          padding-right: 160px!important; 
          caret-color: #fc8019; 
          font-size: 18px!important; 
          font-weight: 500;
      } 
      
      ._2EeI1 { 
          position: absolute; 
          right: 20px; 
          bottom: 26px; 
          font-size: 14px; 
          font-weight: 500; 
          color: #5d8ed5; 
          transform: translateZ(0); 
          cursor: pointer; 
          will-change: transform; 
          transition: .2s ease;
      } 
      
      ._26LFr { 
          -ms-transform: translateY(70%); 
          transform: translateY(70%);
      } 
      
      ._1Cvlf { 
          position: absolute; 
          left: 0; 
          bottom: 24px; 
          padding-left: 20px; 
          line-height: 20px; 
          font-size: 17px; 
          cursor: text; 
          transition: .2s ease; 
          width: 100%; 
          color: #93959f; 
          will-change: transform,color,font-size; 
          pointer-events: none; 
          font-weight: 400;
      } 
      
      ._2tL9P { 
          font-size: 12px; 
          font-weight: 500; 
          color: #7e808c; 
          -ms-transform: translateY(-70%); 
          transform: translateY(-70%);
      } 
      
      ._25lQg { 
          margin-right: 6px; 
          top: 2px; 
          position: relative;
      } 
      
      .icon-location-crosshair:before { 
          content: "\E914";
      } 
      
      .LukWG { 
          padding-top: 0;
      }
      * { 
          margin: 0; 
          padding: 0; 
          box-sizing: inherit; 
          -webkit-text-size-adjust: none; 
          -webkit-tap-highlight-color: transparent; 
          -ms-text-size-adjust: none; 
          outline: none;
      } 
      
      ._1MdYR { 
          margin-top:  -80px;
          position: relative;
      } 
      
      .nDVxx { 
          -ms-flex-positive: 1; 
          flex-grow: 1;
      } 
      
      ._3arMG { 
          position: relative; 
          padding-top: 80px; 
          min-height: 100%; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          min-width: 1240px;
      } 
      
      body { 
          margin:  0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      html { 
          line-height:   1.2; 
          -ms-text-size-adjust:   100%; 
          -webkit-text-size-adjust:   100%;
          box-sizing:  border-box; 
          font-family:  arial,Helvetica Neue,sans-serif; 
          font-size:  14px; 
          letter-spacing:  -.5px; 
          -moz-font-smoothing:  antialiased; 
          -webkit-font-smoothing:  antialiased;
          margin: 0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 

      ._1TWur { 
          position: relative;
      } 
      
      *,:after,:before { 
          margin: 0; 
          padding: 0; 
          box-sizing: inherit; 
          -webkit-text-size-adjust: none; 
          -webkit-tap-highlight-color: transparent; 
          -ms-text-size-adjust: none; 
          outline: none;
      } 
      
      ._2COmU { 
          position:  relative;
          max-width: 1200px; 
          min-width: 1200px; 
          margin: 0 auto; 
          height: 540px;
      } 
      
      .m3-34 { 
          width: 680px; 
          padding-right: 60px;
      } 
      
      ._2RZDN { 
          display:  flex; 
          display:  -ms-flexbox; 
          -ms-flex-pack:  justify; 
          justify-content:  space-between; 
          padding-bottom:  80px; 
          max-width:  1200px; 
          min-width:  1200px; 
          margin:  0 auto;
          position: relative;
      } 
      
      ._2tnu- { 
          background: #2b1e16; 
          padding: 0 20px;
      } 
      
      ._2Zn3W { 
          position:  relative;
          color: #fff; 
          text-align: center;
      } 
      
      ._2TYHu { 
          padding-top: 40px; 
          position: relative;
      } 
      
      ._3fted { 
          font-size: 20px; 
          font-weight: 600; 
          margin-top: 0;
      } 
      
      ._12i5X { 
          font-size: 15px; 
          width: 260px; 
          margin-top: 10px; 
          color: #e0cbc1; 
          line-height: 1.3;
      } 
      
      ._1Vw_y { 
          height: 250px; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-align: end; 
          align-items: flex-end; 
          -ms-flex-pack: center; 
          justify-content: center;
      } 
      
      ._1envo { 
          height: 125px; 
          width: 200px; 
          transition: transform .3s cubic-bezier(.23,1,.32,1) 0ms; 
          position: absolute; 
          left: 0; 
          top: 0; 
          opacity: 1; 
          fill: #fc8019; 
          margin-top: 92px; 
          -ms-transform: scale(1.5); 
          transform: scale(1.5);
      } 
      
      svg:not(:root) { 
          overflow: hidden;
      } 
      
      img { 
          border-style: none;
      } 
      
      ._2dYjq { 
          margin-bottom: 42px;
      } 
      ._1MdYR { 
          margin-top:  -80px;
          position: relative;
      } 
      
      .nDVxx { 
          -ms-flex-positive: 1; 
          flex-grow: 1;
      } 
      
      ._3arMG { 
          position: relative; 
          padding-top: 80px; 
          min-height: 100%; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          min-width: 1240px;
      } 
      
      body { 
          margin:  0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      html { 
          line-height:   1.2; 
          -ms-text-size-adjust:   100%; 
          -webkit-text-size-adjust:   100%;
          box-sizing:  border-box; 
          font-family:  arial,Helvetica Neue,sans-serif; 
          font-size:  14px; 
          letter-spacing:  -.5px; 
          -moz-font-smoothing:  antialiased; 
          -webkit-font-smoothing:  antialiased;
          margin: 0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      
      ._1TWur { 
          position: relative;
      } 
      
      *,:after,:before { 
          margin: 0; 
          padding: 0; 
          box-sizing: inherit; 
          -webkit-text-size-adjust: none; 
          -webkit-tap-highlight-color: transparent; 
          -ms-text-size-adjust: none; 
          outline: none;
      } 
      
      ._2COmU { 
          position:  relative;
          max-width: 1200px; 
          min-width: 1200px; 
          margin: 0 auto; 
          height: 540px;
      } 
      
      .m3-34 { 
          width: 680px; 
          padding-right: 60px;
      } 
      
      ._2ZpEk { 
          max-width: 1200px; 
          min-width: 1200px; 
          position: relative; 
          margin: 0 auto; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          -ms-flex-pack: center; 
          justify-content: center; 
          height: 100%;
      } 
      
      ._3tAmb { 
          padding: 0 20px; 
          height: 570px; 
          overflow: hidden;
      } 
      
      ._1C4_O { 
          font-size: 20px; 
          width: 400px; 
          font-weight: 300; 
          padding-top: 20px; 
          padding-bottom: 60px; 
          color: #7e808c; 
          line-height: 1.2;
      } 
      
      img { 
          border-style: none;
      } 
      
      ._3QGpR { 
          position:  absolute;
          top: 0; 
          right: 300px;
      } 
      
      ._2SJnz { 
          bottom:  0; 
          right:  -45px;
          position: absolute;
      } 
      
      a { 
          background-color:  transparent; 
          -webkit-text-decoration-skip:  objects;
          text-decoration: none;
      } 
      
      a,a:hover { 
          text-decoration: none;
      } 
      
      ._12dJy { 
          margin-right:  20px;
          cursor: pointer;
      } 
      
      ._37Cft { 
          cursor: pointer;
      } 
      
      ._3arMG { 
          position: relative; 
          padding-top: 80px; 
          min-height: 100%; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          min-width: 1240px;
      } 
      
      body { 
          margin:  0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      html { 
          line-height:   1.2; 
          -ms-text-size-adjust:   100%; 
          -webkit-text-size-adjust:   100%;
          box-sizing:  border-box; 
          font-family:  arial,Helvetica Neue,sans-serif; 
          font-size:  14px; 
          letter-spacing:  -.5px; 
          -moz-font-smoothing:  antialiased; 
          -webkit-font-smoothing:  antialiased;
          margin: 0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      .d_rQj { 
          padding: 0 20px; 
          z-index: 10; 
          background-color: #000; 
          min-height: 298px; 
          width: 100%; 
          color: #fff; 
          overflow: scroll; 
          scrollbar-width: none; 
          -ms-overflow-style: none;
      } 
      
      *,:after,:before { 
          margin: 0; 
          padding: 0; 
          box-sizing: inherit; 
          -webkit-text-size-adjust: none; 
          -webkit-tap-highlight-color: transparent; 
          -ms-text-size-adjust: none; 
          outline: none;
      } 
      
      .d_rQj:-webkit-scrollbar { 
          display: none;
      } 
      
      ._25jJQ { 
          max-width: 1200px; 
          min-width: 1200px; 
          position: relative; 
          margin: 0 auto; 
          padding-top: 76px; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          height: 100%;
      } 
      
      ._3ipKA { 
          display: -ms-flexbox; 
          display: flex; 
          padding-bottom: 20px; 
          border-bottom: 1px solid #4d4d4d; 
          -ms-flex-pack: justify; 
          justify-content: space-between;
      } 
      
      .RB8ET { 
          border-bottom: 1px solid #4d4d4d; 
          padding: 30px 0 40px;
      } 
      
      ._3zqGM { 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-positive: 1; 
          flex-grow: 1; 
          -ms-flex-align: center; 
          align-items: center; 
          padding: 29px 0;
      } 
      
      ._2Im4A { 
          min-width: 300px;
      } 
      
      ._1Jvc1 { 
          width: 200px;
      } 
      
      .T_dbb { 
          color: gray; 
          font-size: 15px; 
          text-transform: uppercase; 
          font-weight: 600;
      } 
      
      ._1_sSy { 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-pack: justify; 
          justify-content: space-between; 
          -ms-flex-align: start; 
          align-items: flex-start;
      } 
      
      ._26WmF { 
          fill: #fff; 
          width: 142px;
      } 
      
      ._2BWW_ { 
          -ms-flex-positive: 1; 
          flex-grow: 1; 
          text-align: center; 
          font-size: 20px; 
          letter-spacing: -.6px;
      } 
      
      ul { 
          margin: 0; 
          padding: 0; 
          list-style-type: none;
      } 
      
      ._2gbMt { 
          margin-top: 30px;
      } 
      
      a { 
          background-color:  transparent; 
          -webkit-text-decoration-skip:  objects;
          text-decoration: none;
      } 
      
      .AppDownloadLinks_appLink__3lQqz { 
          margin-bottom: 30px; 
          display: block; 
          -webkit-transform: scaleX(1); 
          transform: scaleX(1); 
          will-change: transform; 
          -webkit-transition: -webkit-transform .5s cubic-bezier(.215,.61,.355,1); 
          transition: -webkit-transform .5s cubic-bezier(.215,.61,.355,1); 
          -o-transition: transform .5s cubic-bezier(.215,.61,.355,1); 
          transition: transform .5s cubic-bezier(.215,.61,.355,1); 
          transition: transform .5s cubic-bezier(.215,.61,.355,1),-webkit-transform .5s cubic-bezier(.215,.61,.355,1);
      } 
      
      a,a:hover { 
          text-decoration: none;
      } 
      
      .AppDownloadLinks_appLink__3lQqz:hover { 
          -webkit-transform: scale3d(1.05,1.05,1); 
          transform: scale3d(1.05,1.05,1);
      } 
      
      ._1w9D3 { 
          min-width: 300px;
      } 
      
      ._1w9D3:last-child { 
          min-width: 200px;
      } 
      
      a,a:visited { 
          text-decoration: none;
      } 
      
      a,a:hover,a:visited { 
          text-decoration: none;
      } 
      
      ._1Az3W { 
          margin-left: 30px; 
          display: inline-block; 
          -ms-transform: scaleX(1); 
          transform: scaleX(1); 
          will-change: transform; 
          transition: transform .5s cubic-bezier(.215,.61,.355,1);
      } 
      
      ._1Az3W:hover { 
          transform: scale3d(1.2,1.2,1);
      } 
      
      .b-Hy9 { 
          display: block;
          color:  inherit; 
          font-size:  17px; 
          margin-top:  15px;
      } 
      
      .b-Hy9:first-child { 
          margin-top: 0;
      } 
      
      img { 
          border-style: none;
      } 
      
      ._2JILy { 
          list-style:  none; 
          text-transform:  capitalize;
          color: inherit; 
          font-size: 17px; 
          margin-top: 15px;
      } 
      
      ._3TjLz { 
          color: inherit; 
          font-weight: 300;
      } 
      
      ._3TjLz:hover { 
          font-weight: 500;
      } 
      
      ._3arMG { 
          position: relative; 
          padding-top: 80px; 
          min-height: 100%; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          min-width: 1240px;
      } 
      
      body { 
          margin:  0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      .overlay-enabled { 
          position:  relative; 
          overflow:  hidden;
          margin-right: 15px;
      } 
      
      html { 
          line-height:   1.2; 
          -ms-text-size-adjust:   100%; 
          -webkit-text-size-adjust:   100%;
          box-sizing:  border-box; 
          font-family:  arial,Helvetica Neue,sans-serif; 
          font-size:  14px; 
          letter-spacing:  -.5px; 
          -moz-font-smoothing:  antialiased; 
          -webkit-font-smoothing:  antialiased;
          margin: 0; 
          padding: 0; 
          height: 100%; 
          font-weight: 300; 
          color: #282c3f;
      } 
      
      .d_rQj { 
          padding: 0 20px; 
          z-index: 10; 
          background-color: #000; 
          min-height: 298px; 
          width: 100%; 
          color: #fff; 
          overflow: scroll; 
          scrollbar-width: none; 
          -ms-overflow-style: none;
      } 
      
      *,:after,:before { 
          margin: 0; 
          padding: 0; 
          box-sizing: inherit; 
          -webkit-text-size-adjust: none; 
          -webkit-tap-highlight-color: transparent; 
          -ms-text-size-adjust: none; 
          outline: none;
      } 
      
      .d_rQj:-webkit-scrollbar { 
          display: none;
      } 
      
      ._25jJQ { 
          max-width: 1200px; 
          min-width: 1200px; 
          position: relative; 
          margin: 0 auto; 
          padding-top: 76px; 
          display: -ms-flexbox; 
          display: flex; 
          -ms-flex-direction: column; 
          flex-direction: column; 
          height: 100%;
      } 
      
      ._3ipKA { 
          display: -ms-flexbox; 
          display: flex; 
          padding-bottom: 20px; 
          border-bottom: 1px solid #4d4d4d; 
          -ms-flex-pack: justify; 
          justify-content: space-between;
      } 
      
      ._2Im4A { 
          min-width: 300px;
      } 
      
      .T_dbb { 
          color: gray; 
          font-size: 15px; 
          text-transform: uppercase; 
          font-weight: 600;
      } 
      
      ._12S7_ { 
          position: relative;
      } 
      
      ._3vi_e { 
          position: fixed; 
          top: 0; 
          height: 100%; 
          overflow-y: scroll; 
          background: #fff; 
          transition: transform .3s ease-out; 
          z-index: 10001; 
          transform: translateZ(0);
      } 
      
      ._3pYe- { 
          position: relative; 
          padding-top: 30px; 
          margin-bottom: 69px; 
          z-index: 1;
      } 
      
      ._22fFW { 
          color: #535665; 
          cursor: pointer; 
          font-weight: 600;
      } 
      
      ._1Tg1D { 
          margin-top: 25px; 
          font-size: 30px; 
          font-weight: 500;
      } 
      
      .HXZeD { 
          width: 190px; 
          margin-top: 5px;
      } 
      
      ._2r91t { 
          margin-top: 10px; 
          position: relative;
      } 
      
      ._2r91t:after { 
          content: ""; 
          position: absolute; 
          bottom: -22px; 
          left: 0; 
          width: 30px; 
          border: 1px solid #000;
      } 
      
      img { 
          border-style: none;
      } 
      
      .jdo4W { 
          position: absolute; 
          top: 58px; 
          right: 0; 
          z-index: -1;
      } 
      
      ._2tuBw { 
          opacity: 1!important;
      } 
      
      ._12_oN { 
          opacity: 0; 
          transition: opacity .3s ease-out;
      } 
      
      ._2-hTu { 
          clear: both; 
          margin-top: 20px;
      } 
      
      ._25qBi { 
          position: relative; 
          clear: both;
      } 
      
      ._1FvHn { 
          font-size: 12px; 
          color: #686b78; 
          margin-top: 6px; 
          font-weight: 500;
      } 
      
      .b-Hy9 { 
          display: block;
          color:  inherit; 
          font-size:  17px; 
          margin-top:  15px;
      } 
      
      ul { 
          margin: 0; 
          padding: 0; 
          list-style-type: none;
      } 
      
      ._2gbMt { 
          margin-top: 30px;
      } 
      
      a { 
          background-color:  transparent; 
          -webkit-text-decoration-skip:  objects;
          text-decoration: none;
      } 
      
      ._3TjLz { 
          color: inherit; 
          font-weight: 300;
      } 
      
      a,a:hover { 
          text-decoration: none;
      } 
      
      ._3TjLz:hover { 
          font-weight: 500;
      } 
      
      .a-ayg { 
          width: 100%; 
          text-decoration: none; 
          cursor: pointer; 
          display: inline-block; 
          text-align: center; 
          border: none; 
          line-height: 50px; 
          font-size: 14px; 
          font-weight: 600; 
          height: 50px; 
          padding: 0 2rem; 
          color: #fff; 
          letter-spacing: 0; 
          background-color: #fc8019; 
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.12); 
          text-transform: uppercase;
      } 
      
      .a-ayg:hover { 
          position: relative; 
          box-shadow: 0 2px 8px #d4d5d9;
      } 
      
      .a-ayg:hover:after { 
          content: ""; 
          bottom: -1px; 
          left: 0; 
          position: absolute; 
          width: 100%; 
          height: 1px;
      } 
      
      a,a:visited { 
          text-decoration: none;
      } 
      
      a,a:hover,a:visited { 
          text-decoration: none;
      } 
      
      .IBw2l { 
          color: #282c3f;
      } 
      
      ._3Um38 { 
          border: 1px solid #d4d5d9; 
          padding: 0; 
          display: block; 
          position: relative; 
          transform: translateZ(0);
      } 
      
      ._3lG1r { 
          border-bottom: 0!important;
      } 
      
      ._3lG1r:last-child { 
          border-bottom: 1px solid #d4d5d9!important;
      } 
      
      input { 
          font-family:    sans-serif; 
          font-size:    100%; 
          line-height:   normal;
          margin:  0; 
          overflow:   visible;
          color: inherit; 
          font: inherit; 
          -webkit-appearance: none; 
          -moz-appearance: none; 
          appearance: none;
      } 
      
      ._381fS { 
          background-color: transparent; 
          line-height: normal; 
          border: none; 
          outline: none; 
          height: 70px; 
          width: 100%; 
          font-size: 17px; 
          margin: 0; 
          padding: 0 20px; 
          padding-top: 22px; 
          box-shadow: none; 
          box-sizing: border-box; 
          border-radius: 0; 
          white-space: nowrap; 
          overflow: hidden; 
          text-overflow: ellipsis; 
          font-weight: 500;
      } 
      
      ._2EeI1 { 
          position: absolute; 
          right: 20px; 
          bottom: 26px; 
          font-size: 14px; 
          font-weight: 500; 
          color: #5d8ed5; 
          transform: translateZ(0); 
          cursor: pointer; 
          will-change: transform; 
          transition: .2s ease;
      } 
      
      ._1Cvlf { 
          position: absolute; 
          left: 0; 
          bottom: 24px; 
          padding-left: 20px; 
          line-height: 20px; 
          font-size: 17px; 
          cursor: text; 
          transition: .2s ease; 
          width: 100%; 
          color: #93959f; 
          will-change: transform,color,font-size; 
          pointer-events: none; 
          font-weight: 400;
      } 
      
      [type="submit"] { 
          -webkit-appearance: button;
      }                   
            
}